<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.dao.employee.EmployeeInfoMapper">
  <resultMap id="BaseResultMap" type="com.chinasofti.model.employee.EmployeeInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="depart" jdbcType="VARCHAR" property="depart" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="station" jdbcType="VARCHAR" property="station" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="pnumber" jdbcType="VARCHAR" property="pnumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="hiredate" jdbcType="TIMESTAMP" property="hiredate" />
    <result column="leavedate" jdbcType="TIMESTAMP" property="leavedate" />
    <result column="addname" jdbcType="VARCHAR" property="addname" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="updatename" jdbcType="VARCHAR" property="updatename" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, photo, depart, position, station, location, pnumber, email, hiredate, 
    leavedate, addname, addtime, updatename, updatetime
  </sql>
  <sql id="Where_List">
		<where>
			<if test="id != null and id != ''">
				id like concat('%',#{id},'%')
			</if>
			<if test="name !=null and name != ''">
				and name like concat('%',#{name},'%')
			</if>
		</where>
	</sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tstaffinf
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="count" parameterType="com.chinasofti.model.employee.EmployeeInfo" resultType="java.lang.Long">
		select count(*)
		from tstaffinf
		<include refid="Where_List" />
  </select>
  <select id="selectList" parameterType="com.chinasofti.model.employee.EmployeeInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tstaffinf
		<include refid="Where_List" />
		order by
		<choose>
			<when test="sort == 'id'">id</when>
			<when test="sort == 'name'">name</when>
			<otherwise>id</otherwise>
		</choose>
		<choose>
			<when test="order == 'desc'">desc</when>
			<otherwise>asc</otherwise>
		</choose>
		limit #{page} , #{rows}
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tstaffinf
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chinasofti.model.employee.EmployeeInfo">
    insert into tstaffinf (id, name, sex, 
      photo, depart, position, 
      station, location, pnumber, 
      email, hiredate, leavedate, 
      addname, addtime, updatename, 
      updatetime)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{depart,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{station,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{pnumber,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{hiredate,jdbcType=TIMESTAMP}, #{leavedate,jdbcType=TIMESTAMP}, 
      #{addname,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{updatename,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.model.employee.EmployeeInfo">
    insert into tstaffinf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="depart != null">
        depart,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="station != null">
        station,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="pnumber != null">
        pnumber,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="hiredate != null">
        hiredate,
      </if>
      <if test="leavedate != null">
        leavedate,
      </if>
      <if test="addname != null">
        addname,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="updatename != null">
        updatename,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="depart != null">
        #{depart,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="station != null">
        #{station,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="pnumber != null">
        #{pnumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedate != null">
        #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="addname != null">
        #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null">
        #{updatename,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.model.employee.EmployeeInfo">
    update tstaffinf
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="depart != null">
        depart = #{depart,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="station != null">
        station = #{station,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="pnumber != null">
        pnumber = #{pnumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null">
        hiredate = #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedate != null">
        leavedate = #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="addname != null">
        addname = #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null">
        updatename = #{updatename,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.model.employee.EmployeeInfo">
    update tstaffinf
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      depart = #{depart,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      station = #{station,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      pnumber = #{pnumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      hiredate = #{hiredate,jdbcType=TIMESTAMP},
      leavedate = #{leavedate,jdbcType=TIMESTAMP},
      addname = #{addname,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      updatename = #{updatename,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>