<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.dao.employee.JobMapper">
  <resultMap id="BaseResultMap" type="com.chinasofti.model.employee.Job">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="addname" jdbcType="VARCHAR" property="addname" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="updatename" jdbcType="VARCHAR" property="updatename" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, addname, addtime, updatename, updatetime
  </sql>
  <sql id="Where_List">
		<where>
			<if test="id != null and id != ''">
				id like concat('%',#{id},'%')
			</if>
			<if test="name !=null and name != ''">
				and name like concat('%',#{name},'%')
			</if>
		</where>
	</sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tjob
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="count" parameterType="com.chinasofti.model.employee.Job" resultType="java.lang.Long">
		select count(*)
		from tjob
		<include refid="Where_List" />
  </select>
  <select id="selectList" parameterType="com.chinasofti.model.employee.Job" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tjob
		<include refid="Where_List" />
		order by
		<choose>
			<when test="sort == 'id'">id</when>
			<when test="sort == 'name'">name</when>
			<otherwise>id</otherwise>
		</choose>
		<choose>
			<when test="order == 'desc'">desc</when>
			<otherwise>asc</otherwise>
		</choose>
		limit #{page} , #{rows}
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tjob
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chinasofti.model.employee.Job">
    insert into tjob (id, name, addname, 
      addtime, updatename, updatetime
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{addname,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{updatename,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.model.employee.Job">
    insert into tjob
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="addname != null">
        addname,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="updatename != null">
        updatename,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addname != null">
        #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null">
        #{updatename,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.model.employee.Job">
    update tjob
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addname != null">
        addname = #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatename != null">
        updatename = #{updatename,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.model.employee.Job">
    update tjob
    set name = #{name,jdbcType=VARCHAR},
      addname = #{addname,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      updatename = #{updatename,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>